body {
    font-size: 18px;
    max-width: 960px;
    margin: auto;
}

#mainLeft {
    border-right: 2px solid rgb(95, 180, 195);
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(205, 243, 243)
}

#mainRight{
    padding-left: 2em;
    background-color: rgb(226, 231, 230);
    
}
.icon {
    display: inline-block;
    width:30px;
    font-size: 18px;
    color:rgb(95, 180, 195);
}
h1 {
    color: #000000;
    text-align: center;
    font-family: 'Times New Roman';
    font-weight: 100;
    font-size: 2em;
    letter-spacing: 1px;
    padding-top: .5em;
    padding-bottom: .5em; 
    margin: auto;
} 

hr {
    border: 1px solid rgb(95, 180, 195); 
}

h2 {
    color:rgb(62, 62, 62);
    font-family: 'serif';
    margin-bottom: 0;
    font-size: 1.5em;
    padding-bottom: 1em;
 
}

h4 {
    color: rgb(70, 75, 90);
    font-family: 'serif';

}

p{
    color:rgb(72, 70, 70);
    font-family:'Times New Roman', serif;
    margin: 0.2em auto; 
}

main {
    display: grid;
    grid-template-columns: 35% 65%;
    justify-content: center;
    margin-top: 2em;
    margin-left: 2em;
    padding-right: 2em;
    gap: 2em;
}

